<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BCIT Textbooks For Trade</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-left navbar-dark bg-primary">
        @Html.ActionLink("BCIT Textbooks For Trade", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Postings", "Index", "Postings", new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Books for sale", "BooksForSale", "Home", new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Books on request", "BooksOnRequest", "Home", new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BCIT Textbooks For Trade</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

