<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BCIT Textbooks For Trade</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="main-background" style="background:url(../../Images/seanaftersurgery.jpg) no-repeat; background-size:cover">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="logo" style="overflow:hidden;">
                    <img src="@Url.Content("~/Images/logo.png")" class="logo-image" />
                </a>
                @Html.ActionLink("TEXTBOOKS FOR TRADE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @Html.Partial("_LoginPartial")
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Postings", "Index", "Postings")
                </li>
                <li>
                    @Html.ActionLink("Books for sale", "BooksForSale", "Home")
                </li>
                <li>
                    @Html.ActionLink("Books on request", "BooksOnRequest", "Home")
                </li>
                <li>
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="mid">
        <p style="color:#949494; font-weight:bold;">&copy; @DateTime.Now.Year - BCIT Textbooks For Sale</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
        </div>
</body>
</html>
