@model BCIT_Textbook_Sale.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="form-group" style="background-color:white; opacity:0.95; padding:50px;padding-top:20px; text-align:left; width:750px; margin: 0 auto; ">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <table>
            <tbody>
                <tr>
                    <td width="50%" style="padding:15px 10px">
                        @Html.LabelFor(m => m.Email)

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "border: none; border-bottom: 2px solid #003E6B;" })
                    </td>
                    <td width="50%" style="padding:15px 10px">
                        @Html.LabelFor(m => m.PerferredName)
                        @Html.TextBoxFor(m => m.PerferredName, new { @class = "form-control", @style = "border: none; border-bottom: 2px solid #003E6B;" })
                    </td>
                </tr>
                <tr>
                    <td style="padding:15px 10px">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "border: none; border-bottom: 2px solid #003E6B;" })
                    </td>
                    <td style="padding:15px 10px">
                        @Html.LabelFor(m => m.ProgramName)
                        @Html.DropDownListFor(m => m.ProgramName, ViewBag.proID as List<SelectListItem>, new { @class = "form-control", @style = "border: none; border-bottom: 2px solid #003E6B;" })
                    </td>
                </tr>
                <tr>
                    <td style="padding:15px 10px">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style= "border: none; border-bottom: 2px solid #003E6B;" })
                    </td>
                    <td></td>
                </tr>
                <tr  style="padding:15px 10px">
                    <td>
                        <input type="submit" class="btn btn-primary btn-large index-button" value="Register" style="width:93%; margin-top:20px" />
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
