@model IEnumerable<BCIT_Textbook_Sale.Models.Posting>

@{
    ViewBag.Title = "Index";
}

<div style="background-color:white; opacity:0.95; padding:50px;padding-top:20px; text-align:left ;min-height:600px">
    <h2>Current Postings</h2>
    <table style="margin-bottom:50px;width:90%">
        <tr style="width:100%">
            <td style="width:100%">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Create New Post", "Create")
                }
            </td>
            <td style="text-align:right; width:100%">
                Sort by: @Html.DropDownList("sortOptions", null, new { style = "max-width: 232px" })
            </td>
        </tr>
    </table>
    <p>
        <hr />
    </p>
    @foreach (var item in Model)
    {
        <table style="background-color:white; margin-bottom:20px; margin-top:20px" width="90%">
            <tr>
                <td rowspan="5" style="min-width:200px; min-height:200px; width:200px; height:200px; text-align:center">
                    <a href='@Url.Action("Details", new { id = item.Id })'>
                        @if (item.imglink != null)
                        {
                            <img src='@Url.Content(item.imglink)' onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png'" width="180" height="180" />
                        }
                        else
                        {
                            <img src='@Url.Content("~/Images/logo.png")' width="180" height="180" />
                        }
                    </a>
                </td>
                <td colspan="3" style="font-size:20px; font-weight:bold">
                    @Html.ActionLink(
                        "[" + @Html.DisplayFor(modelItem => item.Program.programName).ToString() + "] " +
                    @Html.DisplayFor(modelItem => item.title).ToString(),
                    "Details", new { id = item.Id })
                </td>
            </tr>
            <tr>
                <td style="width:50%">Posted By: @Html.DisplayFor(modelItem => item.username)</td>

            </tr>
            <tr>
                <td style="width:50%">
                    Time Posted: @Html.DisplayFor(modelItem => item.postdate)
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    @if (item.price != null)
                    {
                        if (item.postingType.Equals("Buy"))
                        {
                            <text>Looking to buy for: $</text>
                            <i style="color:green">@Html.DisplayFor(modelItem => item.price)</i>
                        }
                        else
                        {
                            <text>"Selling Price: $</text>
                            <i style="color:red">@Html.DisplayFor(modelItem => item.price)</i>
                        }
                    }

                </td>
            </tr>
            <tr>
                <td style="height:30%; vertical-align:top;text-align:right">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.DisplayName(" | ")
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        </table>
        <hr />
    }
</div>
