@using Microsoft.AspNet.Identity

@model BCIT_Textbook_Sale.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div style="background-color:white; opacity:0.95; padding:50px;margin-top:100px; text-align:left">
    <h2>My Account</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Email: </dt>
        <dd>
            @User.Identity.Name
        </dd>

        <dt>Password: </dt>
        <dd>
            ********
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Name: </dt>
        <dd>
            @Model.PerferredName
            [
            @Html.ActionLink("Change Name", "ChangeName")
            ]
        </dd>

        <dt>Program: </dt>
        <dd>
            @Model.ProgramName
            [
            @Html.ActionLink("Change Program", "ChangeProgram")
            ]
        </dd>
    </dl>
</div>
